<header>
    <h1>Démo Routage Express</h1>
    <ul>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/about">À propos</a>
        </li>
    </ul>
</header>