<div class="breadcrumb">
    <p>> À propos</p>
</div>
<div class="page-content">
    <div class="scrollable">
        <div class="about-content">
            <p>© Copyright 2022 G. Bourguin</p>
        </div>
    </div>
</div>