<div class="breadcrumb">
    <p>> Accueil</p>
</div>
<div class="page-content">
    <div class="scrollable">
        <div class="welcome-content">
            <h2>Bienvenue sur Démo Routage Express</h2>
        </div>
    </div>
</div>